<div id="auth-container">
    <div class="container">
        <div class="form-container" id="login-form">
            <h1>Login</h1>
            <form id="login-form-element">
                <input type="text" placeholder="Nickname or Email" id="login-identifier" required>
                <input type="password" placeholder="Password" id="login-password" required>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p>Don't have an account? <a href="#" id="show-signup">Sign up</a></p>
        </div>
    </div>
</div>