<div id="auth-container">
    <div class="container">     
        <div class="form-container hidden" id="signup-form">
            <h1>Sign Up</h1>
            <form id="signup-form-element">
                <input type="text" placeholder="First Name" id="signup-firstname" required>
                <input type="text" placeholder="Last Name" id="signup-lastname" required>
                <input type="text" placeholder="Nickname" id="signup-nickname" required>
                <input type="number" placeholder="Age" id="signup-age" required min="13">
                 <select id="signup-gender" required>
                    <option value="" disabled selected>Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                    <option value="prefer_not_to_say">Prefer not to say</option>
                </select>
                <input type="email" placeholder="Email" id="signup-email" required>
                <input type="password" placeholder="Password" id="signup-password" minlength="6" required>
                <input type="password" placeholder="Confirm Password" id="signup-confirm-password" required>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <p>Already have an account? <a href="#" id="show-login">Login</a></p>
        </div>
    </div>
</div>